In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[4]") \
.appName("Csv-Ãœzeri-SQL") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [16]:
retailDF = spark.read.csv("sources/OnlineRetail.csv")
retailDF.show(truncate = False)

+---------------------------------------------------------------------------------+
|_c0                                                                              |
+---------------------------------------------------------------------------------+
|InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country|
|536365;85123A;WHITE HANGING HEART T-LIGHT HOLDER;6;1.12.2010 08:26;2             |
|536365;71053;WHITE METAL LANTERN;6;1.12.2010 08:26;3                             |
|536365;84406B;CREAM CUPID HEARTS COAT HANGER;8;1.12.2010 08:26;2                 |
|536365;84029G;KNITTED UNION FLAG HOT WATER BOTTLE;6;1.12.2010 08:26;3            |
|536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6;1.12.2010 08:26;3                 |
|536365;22752;SET 7 BABUSHKA NESTING BOXES;2;1.12.2010 08:26;7                    |
|536365;21730;GLASS STAR FROSTED T-LIGHT HOLDER;6;1.12.2010 08:26;4               |
|536366;22633;HAND WARMER UNION JACK;6;1.12.2010 08:28;1                          |
|536366;22632;HAND WARMER RED POLKA DOT;6;1.12.2010 08:28;1                       |
|536367;84879;ASSORTED COLOUR BIRD ORNAMENT;32;1.12.2010 08:34;1                  |
|536367;22745;POPPY'S PLAYHOUSE BEDROOM;6;1.12.2010 08:34;2                       |
|536367;22748;POPPY'S PLAYHOUSE KITCHEN;6;1.12.2010 08:34;2                       |
|536367;22749;FELTCRAFT PRINCESS CHARLOTTE DOLL;8;1.12.2010 08:34;3               |
|536367;22310;IVORY KNITTED MUG COSY;6;1.12.2010 08:34;1                          |
|536367;84969;BOX OF 6 ASSORTED COLOUR TEASPOONS;6;1.12.2010 08:34;4              |
|536367;22623;BOX OF VINTAGE JIGSAW BLOCKS;3;1.12.2010 08:34;4                    |
|536367;22622;BOX OF VINTAGE ALPHABET BLOCKS;2;1.12.2010 08:34;9                  |
|536367;21754;HOME BUILDING BLOCK WORD;3;1.12.2010 08:34;5                        |
|536367;21755;LOVE BUILDING BLOCK WORD;3;1.12.2010 08:34;5                        |
+---------------------------------------------------------------------------------+
only showing top 20 rows

In [2]:
retailDF = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.option("sep",";") \
.csv("sources/OnlineRetail.csv")

In [4]:
retailDF.show(4)

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|1.12.2010 08:26|     2,55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|1.12.2010 08:26|     2,75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|1.12.2010 08:26|     3,39|     17850|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 4 rows

In [5]:
retailDF.limit(5).toPandas().head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1.12.2010 08:26,"2,55",17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1.12.2010 08:26,"3,39",17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1.12.2010 08:26,"2,75",17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1.12.2010 08:26,"3,39",17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1.12.2010 08:26,"3,39",17850,United Kingdom

In [11]:
retailDF.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: string, CustomerID: int, Country: string]

In [12]:
# to write sql queries
retailDF.createOrReplaceTempView("table")

In [14]:
spark.sql("""

SELECT AVG(Quantity) as av, Description
FROM table
GROUP BY Description
ORDER BY av asc




""").show(20)

+-------------------+--------------------+
|                 av|         Description|
+-------------------+--------------------+
|            -9600.0|printing smudges/...|
|            -9058.0|Printing smudges/...|
|            -5368.0|          throw away|
|            -3100.0|wrongly marked. 2...|
|            -2600.0|mouldy, thrown away.|
|            -2472.0|thrown away-can't...|
|            -2376.0|   Thrown away-rusty|
|            -2160.0|incorrect stock e...|
|-1738.2222222222222|Unsaleable, destr...|
|            -1681.0| mouldy, unsaleable.|
|            -1512.0|damages/credits f...|
|            -1479.0|mystery! Only eve...|
|            -1440.0|Incorrect stock e...|
|            -1422.0|         damages wax|
|            -1400.0|          Given away|
|            -1300.0|reverse previous ...|
|            -1206.0|sold as set on do...|
|            -1200.0|     ? sold as sets?|
|            -1165.5|            ?missing|
|            -1131.0|              lost??|
+-------------------+--------------------+
only showing top 20 rows